a{
	text-decoration: none;
	color: #fa9797;
	display: inline-block;
    width: 700px;
    font-family: sans-serif, Helvetica, sans-serif;
    font-size: 15pt;
    line-height: 17pt;
}

a:hover{
	text-decoration: none;
	color: #a9a9a9;
}

ul.nav a{
	text-decoration: none;
	color: #a9a9a9;
	display: inline-block;
    width: 100px;
    font-family: sans-serif, Helvetica, sans-serif;
    font-size: 9pt;
    line-height: 16pt;
}

ul.nav a:hover {
	text-decoration: none;
	color: #fa9797;
	
}


ul.nav {
	position: fixed;
	display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    text-decoration: none;

}

li{

}

p{
	padding-left: 100px;
	width: 700px;
	font-family: sans-serif, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 11pt;
}


img {
	display: inline-block;
	padding-left: 100px;
}